body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img2/main-background.jpg);
    /* background-color: #c2cc67f5; */
    position: relative;
    margin: 0;
    /* overflow: hidden; */
}

.lemon, .grape, .apple, .strawberry, .guavanata {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.lemon.visible, .grape.visible, .apple.visible, .strawberry.visible, .guavanata.visible {
    opacity: 1;
}

.lemon::before, .grape::before, .apple::before, .strawberry::before, .guavanata::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    opacity: 0.3;
}

.lemon::before{
    background-image: url(img2/bg-lemon.png);
}

.grape::before {
    background-image: url(img2/grape-bg.png);
}

.apple::before {
    background-image: url(img2/apple-bg.png);
}

.strawberry::before{
    background-image: url(img2/strawberry-bg.png);
}
.guavanata::before{
    background-image: url(img2/guavanata-bg.png);
}

.banner, .product-container {
    position: relative;
    z-index: 1;
}

.banner {
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
position: relative;
}

.banner h1 {
color: azure;
font-size: 40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 20px;
}

.banner h2 {
color: azure;
font-size: 15px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-top: 10px;
margin-bottom: 50px;
}

.banner span img {
width: 200px;
margin: 20px 0;
}

.product-container {
display: flex;
flex-wrap: wrap;
gap: 40px;
justify-content: center;
padding: 20px;
max-width: 1000px;
}

.product {
    width: 190px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: 0.7s;
    --left: -33px; 
    margin-bottom: 100px;
}

.soda {
background:
    var(--url) var(--left) 0,
    url(img2/can_mockup.png);
background-size: auto 100%;
width: 170px;
aspect-ratio: 2 / 4.1;
background-blend-mode: multiply;
mask-image: url(img2/can_mockup.png);
mask-size: auto 100%;
transition: 0.7s;
position: relative;
}

.flavour {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
color: white;
text-align: center;
opacity: 0;
transition: 0.7s;
/* transition: opacity 0.3s ease; */
/* pointer-events: none;  */
}

.flavour a{
    display: flex;
    /* text-decoration: none; */
    align-items: center;
    justify-content: center;
    border: 2px solid #ff0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    color: rgb(240, 232, 232);
    transition: 1s;
    text-decoration: none;
}

.product:hover .buyNow{
    background-color: rgba(255, 0, 0, 1);
}

.buyNow:hover{
    background-color: #bb0000 !important;
    transition: 0.5s;
}

.product:hover {
--left: -260px; 
}

.product:hover .soda {
    transform: translateX(-10%) translateY(-80px) rotate(-10deg);
    opacity: 0.5;
}

.product:hover .flavour {
    transform: translateX(-10%) translateY(-80px) rotate(-10deg);
    opacity: 1;
}